@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Roboto&display=swap");


$primary : #D9B1AD;
$secondary: #D9D5D2;
$text-font: 'Roboto', sans-serif;
$title-font: 'Dancing Script', cursive;
$spacing: 8px;
$spacing2: ($spacing * 2);
$spacing4: ($spacing2 * 2);

